{extend name="base/base"}

{block name="header"}
<header class="hui-header">
    <h1>请先登录</h1>
</header>
{/block}

{block name="flex"}
{/block}

{block name="connect"}
<div class="hui-wrap">
	<div class="hui-center-title" style="margin-top:40px;margin-bottom: 40px;">
    	<div style="width: 100px;height: 100px;border:1px solid red;margin: 0 auto;border-radius: 50%;text-align: center;">
    		
    	</div>
    </div>
    <div style="margin:20px 10px; margin-bottom:15px;" class="hui-form" id="form1">
        <div class="hui-form-items">
        	<div class="hui-form-items-title">用户名</div>
            <input type="text" class="hui-input hui-input-clear" name="user_name" placeholder="输入用户名" checktype="string" checkdata="5,20" checkmsg="用户名应为5-20个字符">
        </div>
        <div class="hui-form-items">
        	<div class="hui-form-items-title">登录密码</div>
            <input type="password" class="hui-input hui-pwd-eye" name="password" placeholder="登录密码" checktype="string" id="pwd" checkdata="6,20" checkmsg="密码应为6-20个字符">
        </div>
    </div>
    <div style="padding:10px; padding-top:10px;">
        <button type="button" class="hui-button hui-button-large hui-primary" id="submit" onclick="login()">立即登录</button>
    </div>
    <a href="{:url('home/Login/register')}" style="float: right;margin-right: 10px;font-family: '黑体'">没有账号？去注册</a>
</div>
{/block}




{block name="src"}
<script type="text/javascript">
	function login()
	{
		var user_name = hui('input[name="user_name"]').val();
		var password = hui('input[name="password"]').val();

		hui.postJSON(
            "{:url('home/Login/loginProcess')}",
            {'user_name': user_name, 'password': password},
            function(msg){
                console.log(msg);
                if(msg.code == 200)
                {
                    hui.toast(msg.msg);
                    setTimeout(function(){window.location.href="{:url('home/index/index')}"},1000);
                }else
                {
                    hui.toast(msg.msg);
                }
            }
        );
	}
</script>
{/block}


